@import "tailwindcss";

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskBlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskSemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskMediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskRoman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskItalic.woff2") format("woff2");
  font-weight: 400; /* Roman's weight */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskBook.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskBookItalic.woff2") format("woff2");
  font-weight: 350;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("fonts/OverusedGroteskLightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "OverusedGrotesk";
  background-color: black;
  color: white;
}

@utility text-scale {
  @apply text-base;
}

.menu {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
